#editor li[data-list='checked'] {
    text-decoration: line-through;
    font-style: italic;
    mix-blend-mode: lighten;
    color: silver;
    transition: 3s;
}

#editor ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
