

.ql-template-embed-blot {
    display: inline-flex;
    text-decoration: none;
    color: #67c5ff;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
    border: 2px solid transparent;
    /*-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;*/

    user-select: none;
    margin-left: -3px;
    margin-right: -5px;
}

    .ql-template-embed-blot:hover:not(.ql-template-embed-blot-focus) {
        padding: 1.5px;
        transition: .2s;
        cursor: pointer;
        border: 2px solid yellow;
    }

.ql-template-embed-blot-sub-selected {

}

.ql-template-embed-blot-display-key-down {
    transition: .0s;
    transform: scale(1.1);
}

.ql-template-embed-blot-display-key-up {
    transition: .0s;
    transform: scale(1);
}

.ql-template-embed-blot-focus {
    border: 2px solid red;
}

.ql-template-embed-blot-focus-not-instance {
    border: 2px solid #f98f8f;
}

.ql-template-embed-blot-at-insert {
    border: 2px solid #31e40e !important;
}

.resizable-textarea {
    min-height: 30px;
    resize: both;
    display: inline-block;
    margin: 12px;
}

.resizer {
    /* All resizers are positioned absolutely inside the element */
    position: absolute;
}

/* Placed at the top side */
.resizer-t {
    top: 0;
    cursor: row-resize;
    height: 5px;
    left: 0;
    width: 100%;
}