#findReplaceToolbar {
    width: 100%;
    overflow: auto;
    display: flex;
    background-color: silver;
    font-size: 16px;
}

    #findReplaceToolbar button {
        padding: 5px;
        max-width: unset;
        max-height: 30px;
        width: 100px;
        vertical-align: middle;
    }
    
    #findReplaceToolbar .matchOptContainer {
        margin: 10px;
    }
    
    #findReplaceToolbar form {
        margin: 5px;
        padding: 5px;
    }

        #findReplaceToolbar form label {
            user-select: none;
        }
        #findReplaceToolbar input {
            margin: 5px 0px;
        }

        #findReplaceToolbar input[type=text] {
            padding: 5px;
            border-radius: 5px;
            width: 300px;
        }
