.ql-editor.append {
    margin-bottom: 30px;
}

#pasteAppendToolbarLabelContainer {
    background-color: var(--editableeditorbgcolor_opaque);
    display: inline-flex;
    border-radius: var(--commonborderradius);
    border-width: 1px;
    border-color: white;
    text-align: center;
    font-size: 12px;
    transition: 0.5s;
    align-items: center;
}

#pasteAppendToolbarLabelContainer span {
    padding: 3px 5px 3px 10px;
}

.append-mode-label {
    color: salmon;
}

.insert-mode-label {
    color: mediumturquoise;
}

#pasteAppendIsManualToolbarLabel {
    color: var(--editortoolbarbgcolor);
    margin-right: 10px;
    user-select: none;
}