.edit-template-toolbar {
    background-color: palegreen;
}


#templateColorBox {
    display: inline-block !important;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid 3px black;
    cursor: pointer;
    margin-left: 10px;
    /*margin-top: 5px;*/
}

    #templateColorBox:hover {
        transition: .2s;
        border-color: dimgray;
    }

/*div:has( > #templateDetailTextInput) {
    width: 30%;
}

div:has( > #templateNameTextInput) {
    width: 45%;
}*/

.edit-template-toolbar.template-with-detail-layout > div:has( > #templateNameTextInput) {
    width: 45%;
}
.edit-template-toolbar:not(.template-with-detail-layout) > div:has( > #templateNameTextInput) {
    width: 75%;
}
.edit-template-toolbar.template-with-detail-layout > .info-marker {
    /*display: inline-flex;*/
}
.edit-template-toolbar:not(.template-with-detail-layout) > .info-marker {
    display: none;
}

.edit-template-toolbar.template-with-detail-layout > div:has( > #templateDetailTextInput) {
    width: 30%;
}

.edit-template-toolbar:not(.template-with-detail-layout) > div:has( > #templateDetailTextInput) {
    width: 0;
}

#editTemplateDeleteButton {
    background-color: salmon;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

    #editTemplateDeleteButton:hover {
        background-color: red;
    }
/*#templateDetailTextInputContainer {
    right: 140px;
    font-family: Arial;
    min-width: 160px;
}*/

.edit-template-type-select-container {
    margin-top: 11px;
    margin-right: 12px;
    vertical-align: middle;
    font-family: Arial;
    min-width: 160px;
}

    .edit-template-type-select-container select {
        padding: 3px;
    }


/* Color Pallete */

.template_color_palette_item {
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: solid 3px transparent;
}

    .template_color_palette_item:hover {
        transition: .2s;
        border: solid 3px dimgray;
    }

/* Editor Toolbar */

.ql-toolbar-template-context-menu {
    display: none;
    position: fixed;
    border: solid 1px #CCC;
}

    .ql-toolbar-template-context-menu ul {
        list-style: none;
        margin: 0;
        padding: 16px;
        background: white;
    }

    .ql-toolbar-template-context-menu a {
        opacity: .8;
        color: #ffffff;
        cursor: pointer;
        transition: 200ms;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 700;
    }
