.paste-toolbar {
    background-color: teal;
}
    .paste-toolbar > button {
        background-color: dodgerblue;
        border: solid 2px #67c5ff;
        color: white;
    }

#pasteButton {
    margin-left: 10px;
    margin-right: 10px;
}

#pasteButton span {
    margin-left: 5px;
}
