#dragOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0px;
    z-index: -1;
    opacity: 0;
}

.drag-overlay-enabled {
    pointer-events: all;
}

.drag-overlay-disabled {
    pointer-events: none;
}

.drop {
    white-space: nowrap !important;
    /*user-select: none;*/
    /*width: 100%;*/
    /*touch-action: none;*/
    overflow: auto;
}

    .drop > .ql-editor {
        /* NOTE only temporary, adjusted to actual width after layout update in auto scroll*/
        /*user-select: none;*/
        margin-top: 10px;
        margin-bottom: 10px;
        width: 808080px;
    }