<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonkeyPaste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MonkeyPaste.Properties.Settings>
            <setting name="MaxDbPasswordAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogScreenHeightRatio" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="LogPanelBgColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="LogFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="LogResizeHandleHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogPadRatio" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="LogMenuHeightRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LogMenuSearchFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="LogMenuSearchFontSizeRatio" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="TileChooserPadHeightRatio" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="TileTitleHeightFontRatio" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TileTitleFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="TileTitleHeightRatio" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="TileDetailHeightRatio" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="TileDetailFontSizeRatio" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="TileDetailFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="TileMenuHeightRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TileMenuFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="TileMenuFontRatio" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="TileMenuColor" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="TileSelectedColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TileBorderThicknessRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TileIconBorderColor" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="TileIconBorderRatio" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="TileBorderRadius" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TileFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="TileMinLineCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TilePadWidthRatio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchTextBoxWidthRatio" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="SearchTextBoxHeightRatio" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="SearchTextBoxFont" serializeAs="String">
                <value>Candera</value>
            </setting>
            <setting name="SearchTextBoxFontSizeRatio" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="LogPanelTileFontSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="TileFontSizeRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TileItemBgColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="TileTitleIconWidthRatio" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="TileItemPadding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>MonkeyPaste</value>
            </setting>
            <setting name="ScrollDampner" serializeAs="String">
                <value>0.07</value>
            </setting>
            <setting name="DoCrossAppDuplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogMenuTileTokenFont" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="LogMenuTileTokenFontSizeRatio" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="LogMenuTileTokenPanelHeightRatio" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="LogMenuTileTokenChooserBgColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </MonkeyPaste.Properties.Settings>
    </applicationSettings>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
    <!--<add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>-->
  </System.Windows.Forms.ApplicationConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
