.ql-picker-label {
    color: var(--editortoolbarbuttoncolor) !important;
}


.ql-editor.ql-blank::before {
    /* empty placeholder*/
    color: var(--defcontentfgcolor) !important;
}


.ql-editor {
    height: auto;
    padding: 2px 10px;
    caret-color: var(--caretcolor) !important;
}


.ql-editor::selection {    
  color: var(--selfgcolor);
  background: var(--selbgcolor);
}

.ql-editor-converter {
    white-space: pre-line !important;
}
/* maps font sizes to font drop down*/
.ql-snow
.ql-picker.ql-size
.ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size
.ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

.ql-toolbar {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0em;
    /*display: block;*/ /* only set with showEditorToolbar() */
}
/*.ql-tooltip {
    z-index: 1;
}*/

.ql-toolbar-env-wpf {
    display: block;
}

.ql-snow .ql-formats {
    display: inline-flex;
    /* display: inline-block; */
}

.ql-toolbar.ql-snow 
.ql-picker.ql-expanded 
.ql-picker-options {
    max-height: 120px;
    overflow-y: auto !important;
}

.ql-picker.ql-font .ql-picker-label {
    overflow: hidden;
}


/* checkbox */
.ql-editor ul[data-checked=true] > li {
    text-decoration: line-through !important;
}


/* Table Styles*/
.ql-snow .ql-Table-Input .ql-picker-options {
    padding: 3px 5px;
    width: 180px;
}

 
.ql-picker-options {    
    background-color: var(--editortoolbarbgcolor) !important;
    border-color: var(--editortoolbarsepbgcolor) !important;
    color: var(--editortoolbarbuttoncolor) !important;
}
.ql-picker-options .ql-picker-item:hover {
    color: var(--opthovercolor) !important;
}
.ql-picker-options .ql-picker-item.ql-selected, .ql-picker-options .ql-picker-item.editor-selected {
    color: var(--optselectcolor) !important;
}

.ql-container.ql-snow {
    border: 0px solid #ccc;
}

.ql-snow .ql-Table-Input .ql-picker-item {
    border: 1px solid transparent;
    float: left;
    height: 16px;
    margin: 2px;
    padding: 0px;
    width: 16px;
    background: lightsteelblue;
}

    .ql-snow .ql-Table-Input .ql-picker-item:hover, .ql-snow .ql-Table-Input .ql-picker-item.ql-picker-item-highlight {
        border-color: transparent;
        background: steelblue;
    }

.ql-snow .ql-Table-Input.ql-picker {
    width: 28px;
}

    .ql-snow .ql-Table-Input.ql-picker .ql-picker-label {
        padding: 2px 4px;
    }

/*.ql-editor h1 {*/
    /*line-height: 84px !important;*/
    /*font-size: 42px !important;
}
.ql-editor h2 {*/
    /*line-height: 64px !important;*/
    /*font-size: 32px !important;
}
.ql-editor h3  {*/
    /*line-height: 64px !important;*/
    /*font-size: 32px !important;
}
.ql-editor h4 {*/
    /*line-height: 48px !important;*/
    /*font-size: 24px !important;
}
.ql-editor h5 {
    line-height: 48px !important;
    font-size: 24px !important;
}
.ql-editor h6 {
    line-height: 40px !important;
    font-size: 20px !important;
}*/

.ql-snow .ql-tooltip[data-mode=link]::before {
    content: attr(data-before);
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    /*content: 'Save';*/
    content: attr(data-after);
    padding-right: 0px;
}
/* NOTE not sure where this one is but it should be localized */
.ql-snow .ql-tooltip a.ql-action::after {
    border-right: 1px solid #ccc;
    content: 'Edit';
    /*content: attr(data-after);*/
    margin-left: 16px;
    padding-right: 8px;
}


.ql-editor > * {
   /*cursor: unset;*/ 
}


.ql-editor p {
    line-height: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.ql-editor h6 {
    line-height: 2em;
}
.ql-editor h5 {
    line-height: 2.2em;
}
.ql-editor h4 {
    line-height: 2.4em;
}
.ql-editor h3 {
    line-height: 2.6em;
}
.ql-editor h2 {
    line-height: 2.8em;
}
.ql-editor h1 {
    line-height: 3em;
}