.edit-template-toolbar {
    background-color: var(--edittemplatebgcolor);
}


#templateColorBox {
    display: inline-block !important;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid 3px black;    
    cursor: pointer;
    margin-left: 10px;
    /*margin-top: 5px;*/
}

    #templateColorBox:hover {
        transition: .2s;
        border-color: dimgray;
    }


.edit-template-toolbar.template-with-detail-layout > #templateNameTextArea {
    width: 45%;
}
.edit-template-toolbar:not(.template-with-detail-layout) > #templateNameTextArea {
    width: 75%;
}
.edit-template-toolbar.template-with-detail-layout > .info-marker {
    /*display: inline-flex;*/
}
.edit-template-toolbar:not(.template-with-detail-layout) > .info-marker {
    display: none;
}

.edit-template-toolbar.template-with-detail-layout > #templateDetailTextArea {
    width: 30%;
}

.edit-template-toolbar:not(.template-with-detail-layout) > #templateDetailTextArea {
    width: 0;
}

#editTemplateDeleteButton {
    background-color: salmon;
    color: var(--editableeditorbgcolor_opaque);
    font-weight: bold;
}

    #editTemplateDeleteButton:hover {
        background-color: red;
    }

