#dragOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0px;
    z-index: -1;
    opacity: 0;
}

.drag-overlay-enabled {
    /*background-color: orange;*/
    pointer-events: all;
}

.drag-overlay-disabled {
    /*background-color: purple;*/
    pointer-events: none;
}
