
.ql-template-pad-blot {
    /*display: inline;*/
}

.ql-template-embed-blot {
    display: inline-flex;
    text-decoration: none;
    color: #67c5ff;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
    /*caret-color: transparent;*/
    border: 2px solid transparent;
    background-blend-mode: multiply;
    /*-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;*/
    z-index: 0;
    user-select: none;
}

    .ql-template-embed-blot:hover:not(.ql-template-embed-blot-focus):not(.no-select):not(.ql-template-embed-blot-focus-not-instance) {
        padding: 1.5px;
        transition: .2s;
        cursor: pointer;
        border: 2px solid yellow;
    }

.ql-template-embed-blot-selected-overlay {
    background-image: linear-gradient(0deg, var(--selbgcolor), var(--selbgcolor));
}

.ql-template-embed-blot-sub-selected {

}

.ql-template-embed-blot-display-key-down {
    transition: .0s;
    transform: scale(1.1);
}

.ql-template-embed-blot-display-key-up {
    transition: .0s;
    transform: scale(1);
}

.ql-template-embed-blot-focus,
.ql-template-embed-blot-focus-not-instance {
    border: 2px solid red;
}


.ql-template-embed-blot-at-insert {
    border: 2px solid orange !important;
}
.ql-template-embed-blot-before-insert {
    /* only used let selection caret exist before embed */
    /*caret-color: var(--selfgcolor);*/
}
.ql-template-embed-blot-after-insert {
    /* only used let selection caret exist before embed */
    /*caret-color: var(--selfgcolor);*/
}

