
.ql-template-pad-blot {
    /*display: inline;*/
}

.template-blot {
    display: inline;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    background-blend-mode: multiply;
    z-index: 0;
}

    .template-blot:hover > span {
        color: var(--hovercolor) !important;
    }

#editor:not(.no-select) .template-blot-focus > span {
    color: var(--focuscolor) !important;
}
#editor:not(.no-select) .template-blot-focus-not-instance > span {
    color: var(--selectedcolor) !important;
}

#editor:not(.no-select) .template-blot:hover {
    color: var(--hovercolor) !important;
}

#editor:not(.no-select) .template-blot-at-insert > span {
    color: var(--selectedcolor) !important;
}

.delete-template-button {
    padding: 1px;
    margin-left: 10px;
    cursor: pointer;
    width: 10px !important;
    height: 10px !important;
}

    .delete-template-button path {
        fill: black;
    }

    .delete-template-button:hover {
        background-color: black;
    }

    .delete-template-button:hover path {
        fill: white;
    }


.template-blot-selected-overlay {
    background-image: linear-gradient(0deg, var(--selbgcolor), var(--selbgcolor));
}

.template-blot .svg-icon {
    width: 10px !important;
    height: 10px !important;
    margin-left: 1px;
}

.template-blot-sub-selected {
}

.template-blot-display-key-down {
    display: inline-flex;
    transform: scale(1.1);
}

.template-blot-display-key-up {
    display: inline;
    transform: scale(1);
}

.template-blot-before-insert {
    /* only used let selection caret exist before embed */
    /*caret-color: var(--selfgcolor);*/
}
.template-blot-after-insert {
    /* only used let selection caret exist before embed */
    /*caret-color: var(--selfgcolor);*/
}

