#findReplaceToolbar {
    width: 100%;
    min-height: 125px;
    display: flex;
    background-color: silver;
}

    #findReplaceToolbar form {
        margin: 5px;
        padding: 10px;
    }

        #findReplaceToolbar form label {
            user-select: none;
        }

#findReplaceButtonContainer {
    width: 50%;
    display: grid;
    gap: 13px;
}
    #findReplaceButtonContainer button {
        max-width: 70px;
    }

#closeFindReplaceToolbarButton {
    grid-column: 2;
    position: fixed;
    right: 0;
}

#findReplacePreviousButton {
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 1;
}
#findReplaceNextButton {
    grid-row: 6;
    grid-column-start: 2;
    grid-column-end: 2;
}
#replaceButton {     
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 1;
}
#replaceAllButton {
    grid-row: 7;
    grid-column-start: 2;
    grid-column-end: 2;
}
