<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MonkeyPaste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MonkeyPaste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <MonkeyPaste.Properties.Settings>
      <setting name="MaxDbPasswordAttempts" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LogScreenHeightRatio" serializeAs="String">
        <value>0.35</value>
      </setting>
      <setting name="LogPanelBgColor" serializeAs="String">
        <value>DodgerBlue</value>
      </setting>
      <setting name="LogFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="LogResizeHandleHeight" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LogPadRatio" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="LogMenuHeightRatio" serializeAs="String">
        <value>0.14</value>
      </setting>
      <setting name="LogMenuSearchFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="LogMenuSearchFontSizeRatio" serializeAs="String">
        <value>0.85</value>
      </setting>
      <setting name="TileChooserPadHeightRatio" serializeAs="String">
        <value>0.02</value>
      </setting>
      <setting name="TileTitleFontRatio" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="TileTitleFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="TileTitleHeightRatio" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="TileBorderSelectedColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="TileBorderThicknessRatio" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="TileIconBorderColor" serializeAs="String">
        <value>0, 64, 0</value>
      </setting>
      <setting name="TileIconBorderRatio" serializeAs="String">
        <value>0.03</value>
      </setting>
      <setting name="TileBorderRadius" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TileFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="TileMinLineCount" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TileItemPadWidthRatio" serializeAs="String">
        <value>0.95</value>
      </setting>
      <setting name="SearchTextBoxWidthRatio" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="SearchTextBoxHeightRatio" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="SearchTextBoxFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="SearchTextBoxFontSizeRatio" serializeAs="String">
        <value>0.85</value>
      </setting>
      <setting name="LogPanelTileFontSize" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="TileFontSizeRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="TileItemBgColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="TileTitleIconHeightRatio" serializeAs="String">
        <value>1.75</value>
      </setting>
      <setting name="TileItemPaddingRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>MonkeyPaste</value>
      </setting>
      <setting name="ScrollDampner" serializeAs="String">
        <value>0.07</value>
      </setting>
      <setting name="DoCrossAppDuplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogMenuTileTokenFont" serializeAs="String">
        <value>Tahoma</value>
      </setting>
      <setting name="LogMenuTileTokenFontSizeRatio" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="LogMenuTileTokenPanelHeightRatio" serializeAs="String">
        <value>0.85</value>
      </setting>
      <setting name="LogMenuTileTokenChooserBgColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="TileHeaderHeightRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="TileHeaderFontSizeRatio" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="MaxTitleLength" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="LogMainMenuTitleHeightRatio" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="LogMainMenuTitleFont" serializeAs="String">
        <value>Candera</value>
      </setting>
      <setting name="LogMainMenuTitleFontSizeRatio" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="TreeViewCollapsedWidthRatio" serializeAs="String">
        <value>0.075</value>
      </setting>
      <setting name="TreeViewWidthRatio" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="LogMainMenuIconSizeRatio" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="ExcludedAppRowColor1" serializeAs="String">
        <value>192, 255, 192</value>
      </setting>
      <setting name="ExcludedAppRowColor2" serializeAs="String">
        <value>255, 255, 192</value>
      </setting>
      <setting name="TrayAppTitle" serializeAs="String">
        <value>MonkeyPaste</value>
      </setting>
      <setting name="InputHideLog" serializeAs="String">
        <value>Escape</value>
      </setting>
      <setting name="TileBorderHoverColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SplashScreenHeightRatio" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="TileItemFont" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="TileItemFontSizeRatio" serializeAs="String">
        <value>0.08</value>
      </setting>
      <setting name="TileItemScrollBarThicknessRatio" serializeAs="String">
        <value>0.04</value>
      </setting>
      <setting name="TileItemScrollBarBgColor" serializeAs="String">
        <value>224, 224, 224</value>
      </setting>
      <setting name="TileItemScrollBarGripInactiveColor" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="TileItemScrollBarGripActiveColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="LogMenuLeftWidthRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="LogMenuLeftInactiveColor" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="LogMenuLeftActiveColor" serializeAs="String">
        <value>255, 128, 128</value>
      </setting>
      <setting name="ShowLogHotRegionSize" serializeAs="String">
        <value>10</value>
      </setting>
    </MonkeyPaste.Properties.Settings>
  </applicationSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <!--<add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>-->
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <MonkeyPaste.Properties.Settings>
      <setting name="IsAppendModeActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InputToggleLogVisibility" serializeAs="String">
        <value>Control+D</value>
      </setting>
      <setting name="InputNextTile" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="InputPreviousTile" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="InputNextControl" serializeAs="String">
        <value>Tab</value>
      </setting>
      <setting name="InputPreviousControl" serializeAs="String">
        <value>Shift+Tab</value>
      </setting>
      <setting name="InputPasteTile" serializeAs="String">
        <value>Enter</value>
      </setting>
      <setting name="TileBorder" serializeAs="String">
        <value />
      </setting>
      <setting name="SplashScreenWidthRatio" serializeAs="String">
        <value>0.2</value>
      </setting>
    </MonkeyPaste.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IdentityModel" publicKeyToken="e7877f4675df049f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.10.0" newVersion="3.10.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.1" newVersion="1.0.112.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>