
#editor.image-content #pasteAppendToolbarContainer {
    display: none;
}
#editor.file-list-content #pasteAppendToolbarContainer .text-only {
    display: none;
}

#pasteToolbar:not(:hover) #pasteAppendToolbarContainer:not(.expanded) {
    opacity: 0;
}
#pasteToolbar:hover #pasteAppendToolbarContainer:not(.expanded) {
    opacity: 1;
}

#pasteAppendToolbarContainer {
    background-color: var(--editableeditorbgcolor_opaque);
    display: inline-flex;
    border-radius: var(--commonborderradius);
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
    align-items: center;
}
    #pasteAppendToolbarContainer .toolbar-separator
    {
        background-color: var(--editortoolbarbuttoncolor);
        height: 20px;
        margin: 5px 0;
    }
    
    #pasteAppendToolbarContainer .toolbar-separator.unexpanded-only
    {
        background-color: transparent;
    }

    #pasteAppendToolbarContainer button:hover .ql-fill
    {
        fill: var(--hovercolor) !important;
    }
    #pasteAppendToolbarContainer button:hover .ql-stroke
    {
        stroke: var(--hovercolor) !important;
    }
    
    #pasteAppendToolbarContainer > :not(.unexpanded-only)
    {
        display: none;
    }
    #pasteAppendToolbarContainer.expanded > :not(.unexpanded-only)
    {
        display: flex;
    }
    #pasteAppendToolbarContainer.expanded > .unexpanded-only
    {
        display: none;
    }

#pasteAppendToolbarContainer button {
    background-color: transparent !important;
    border-width: 0 !important;
    border-radius: 3px;
    display: flex;
    padding: 0 !important;
}

#pasteAppendToggleManualButton.enabled {
    background-color: darkturquoise !important;
}

#pasteAppendPauseAppendButton.enabled path {
    fill: red !important;
}
#pasteAppendPauseAppendButton.enabled:hover path {
    fill: salmon !important;
}

#pasteAppendToolbarContainer .svg-icon {
    margin: 0px !important;    
}

#pasteAppendPauseAppendButton.enabled:not(:hover) {
    animation: blink 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes blink {

    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
