.file-list-table {
    width: 95%;
    overflow: hidden;
}

.file-list-icon-col {
    width: 35px;
}
.file-list-path-col {
    width: 100%;
}
.file-list-icon {
    max-width: 25px;
    max-height: 25px;
}

.file-list-path {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    /*max-width: 100px;*/
}


.file-list-row {
    background-color: transparent;
}
#editor.sub-select .file-list-row {
    cursor: pointer !important;
}
    #editor.sub-select .file-list-row.selected {
        background-color: darkturquoise !important;
    }
    #editor.sub-select .file-list-row:hover.selected {
        background-color: turquoise !important;
    }
    
    #editor.sub-select .file-list-row:not(.selected):hover {
        background-color: lightgoldenrodyellow !important;
    }
    #editor.sub-select .file-list-row:hover {
        border: 1.5px solid var(--hovercolor) !important;
    }

.file-list-cell {
    /*pointer-events: none;*/
}

