* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial;
    overflow: hidden;
    background-color: transparent;
    /*white-space: pre-wrap;*/
}

.btn {
}
    /* On mouse-over */
    .btn:hover {
        background: #eee;
    }

.success {
    color: green;
}

span, a, em, strong, u, s, sub, sup, img, p, ol, ul, li, div, table, colgroup, col, tbody, tr, td, iframe, blockquote {
    background-color: transparent !important;
}

#editor {
    width: 100%;    
    position: fixed;
    overflow: auto;
    padding: 5px;
    z-index: -1;
}

/*div:focus {
    background-color: aqua;
}

textarea:focus {
    background-color: maroon;
}*/

.info-marker {
    color: cornflowerblue;
    position: relative;
    vertical-align: top;
    margin-top: 15px;
}

.info-tooltip {
    position: absolute;
    font-family: consolas;
    font-size: 10px;
    opacity: 0;
    z-index: 1;
    left: 50%;    
    transform: translateY(-100%);
}

.info-marker:hover .info-tooltip {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.tooltiptext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0366d6;
    padding: 18px;
    border-radius: 5px;
    color: white;
    
    transition: 1s;
    width: 200px;
}

.hidden {
    display: none;
}