/*#editor.light .ql-editor code:not(.font-color-override-on) {
    color: dimgray !important;
}
#editor.light .ql-editor code:not(.font-bg-color-override-on) {
    background-color: silver !important;
}
#editor.dark .ql-editor code:not(.font-color-override-on) {
    color: silver !important;
}
#editor.dark .ql-editor code:not(.font-bg-color-override-on) {
    background-color: dimgray !important;
}
.ql-code-block-container {
    background-color: unset !important;
    color: unset !important;
    font-family: unset !important;
    margin: 0 !important;
    padding: 0 !important;
}*/

#editor.desktop .ql-code-block-container .ql-ui {
    /* hide language picker */
    display: none;
}
#editor.desktop .ql-code-block-container:hover .ql-ui {
    /* hide language picker */
    display: unset;
}
.ql-snow .ql-editor .ql-code-block-container {
    background-color: var(--codebg);
    color: var(--codefg);
}
