.paste-toolbar {
    background-color: var(--pastetemplatebgcolor);
}

    .paste-toolbar button {
        background-color: var(--pastetoolbarbuttoncolor);
        border: solid 2px var(--editortoolbarsepbgcolor);
        color: var(--defcontentfgcolor);
    }

#pasteButtonAndModeContainer {
    display: inline-flex;
    align-items: center;
}

#pasteButton {
    margin-left: 10px;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    border-width: 1px 0 1px 1px;
}
    #pasteButton:hover {
        border-width: 1px 1px 1px 1px;
    }

    #pasteButton span {
        margin-left: 5px;
    }

#pasteButtonPopupExpander {
    font-size: 10px;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 0 5px 5px 0;
    border-width: 1px 1px 1px 0;
}
    #pasteButtonPopupExpander:hover {
        border-width: 1px 1px 1px 1px;
    }