
#editor :is(span, a, em, strong, u, s, sub, sup, img, p, ol, ul, li, div, table, colgroup, col, tbody, tr, td, iframe, blockquote, pre, code):not(.font-color-override-on):not(.ql-code-block):not(.template-label):not(.template-blot) {
    /*color: var(--defcontentfgcolor);*/
    /*filter: contrast(30%);*/
}

#editor :is(span, a, em, strong, u, s, sub, sup, img, p, ol, ul, li, div, table, colgroup, col, tbody, tr, td, iframe, blockquote, pre, code):not(.font-bg-color-override-on):not(.ql-code-block):not(.template-label):not(.template-blot) {
    /*background-color: transparent !important;*/
}

#editor p:has(span.template-blot), #editor li:has(span.template-blot) {
    line-height: 2em;
}

/*div.ql-code-block-container, div.ql-code-block {
    background-color: inherit !important;
}*/


#editor {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0px;
    z-index: -1;
    white-space: pre;
    font-family: var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    color: var(--defcontentfgcolor);
}


.show-scrollbars {
    overflow: auto !important;
    scroll-behavior: smooth;
}

.hide-scrollbars {
    overflow: hidden !important;
}

.no-select {
    user-select: none;
    cursor: default;
    width: 100%;
    height: 100%;
    text-decoration: none;
    pointer-events: none;
}
    .no-select > .ql-editor {
        overflow: hidden;
        height: auto;
    }

.sub-select {
    user-select: auto;
    overflow: auto;
    cursor: text;
    width: unset;
}

    .sub-select > .ql-editor {
        overflow: auto;
        /*height: 100%;*/
    }
.underline-content {
    text-decoration: underline blink dimgray;
}

body:has(.no-select) {
    background-color: var(--noselectbgcolor);
    transition: .4s;
}
body:has(.sub-select) {
    background-color: var(--subselecteditorbgcolor);
    transition: .4s;
}

.editable {
    user-select: auto;
    white-space: unset;
    cursor: text;
    width: unset;
    text-decoration: unset;
}

.range-selected {
    cursor: move !important;
}
body:has(.editable) {
    background-color: var(--editableeditorbgcolor);
    /*opacity: var(--editableopacity);*/
    transition: .4s;
}


#editor:not(.no-select) a {
    cursor: pointer;
}