.paste-template-toolbar {
    background-color: teal;
}
    .paste-template-toolbar > .common-template-toolbar-button {
        background-color: dodgerblue;
        border: solid 2px #67c5ff;
        color: white;
    }
    .paste-template-toolbar > .common-template-toolbar-button:hover {
        border-color: yellow;
    }

#templatePasteValueTextArea {
}

div:has( > #templatePasteValueTextArea) {
    width: 45%;
}

#pasteTemplateToolbarMenuSelectorDiv {
    display: inline-flex;
    align-items: center;
    font-family: Arial;
    margin: 5px 5px 5px 10px;
    padding: 3px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.4s;
}
    #pasteTemplateToolbarMenuSelectorDiv:hover {
        border: 1.25px solid yellow;
        cursor: pointer;
    }

#selectedPasteTemplateOptionDiv {
    min-width: 160px;
}

#pasteTemplateToolbarMenuSelectorArrowDiv {
    /*style the arrow inside the select element:*/
    content: "";
    transform: translate(0,3px);
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}
    #pasteTemplateToolbarMenuSelectorArrowDiv .active {
        border-color: transparent transparent black transparent;
    }



.paste-template-option-div {
    display: inline-flex;
    align-items: center;
}

.paste-template-option-icon {
    border-radius: 3px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.paste-template-option-label {
    margin-left: 10px;
}

#pasteOptionsDiv {
    position: absolute;
    display: block;
    overflow: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.4s;
}

    #pasteOptionsDiv > div {
        display: flex;
    }

    #pasteOptionsDiv .paste-template-option-icon,
    #pasteOptionsDiv .paste-template-option-label {
        margin: 5px;
    }

    #pasteOptionsDiv .selected-paste-option,
    #pasteOptionsDiv .paste-template-option-div:hover {
        background-color: silver;
    }