#colorPaletteContainer {
    position: absolute;
    display: block;
    background-color: whitesmoke;
    border: 0.5px solid dimgray;
    border-radius: var(--commonborderradius);
    transition: 0.5s;
}

.color-palette-item {
    height: 15px;
    width: 15px;
    border-radius: 1px;
    border: solid 1px black;
}

    .color-palette-item:hover {
        border: solid 1px yellow;
    }

.color-palette-item-selected:not(:hover) {
    border-color: black !important;
}

.custom-color-palette-item span {
    display: block;
    transform: translate(4px,-4px);
}

