#dragOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0px;
    z-index: -1;
    opacity: 0;
}

.drop {
    white-space: nowrap !important;
    overflow: auto;
}

    .drop > .ql-editor {
        /* NOTE only temporary, adjusted to actual width after layout update in auto scroll*/
        width: 808080px;
        height: 808080px !important;
    }