* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI';
    -webkit-font-smoothing: antialiased;
    --headerbgcolor: rgb(34, 153, 40);
    --mainbgcolor: rgb(147, 175, 107);
    --headercolor: white;
    --buttonbgcolor: olive;
    --buttoncolor: palegoldenrod;
    --logolightcolor: #ffbd59;
    --logodarkcolor: #7b5813;
    --swirlshadow: saddlebrown;
    --footercolor: var(--logolightcolor);
    --footerbgcolor: var(--logodarkcolor);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 5px;
    color: var(--footercolor);
    background: linear-gradient(180deg, dimgray, var(--footerbgcolor) 10.71%);
}

.hidden {
    display: none;
}

/*#endregion*/