<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MpLogForm.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MpLogForm.Properties.Settings1>
            <setting name="MpColorGreen1" serializeAs="String">
                <value>DarkOliveGreen</value>
            </setting>
            <setting name="MpColorGreen2" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="MpColorBrown2" serializeAs="String">
                <value>Wheat</value>
            </setting>
            <setting name="MpColorBrown1" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="MpColorYellow1" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="MpColorYellow2" serializeAs="String">
                <value>LightYellow</value>
            </setting>
        </MpLogForm.Properties.Settings1>
    </applicationSettings>
</configuration>